##### DATA PREPROCESSING

In [1]:
# Import the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import the dataset

gamingData = pd.read_csv("3.1 Gaming_data.csv.csv")

# view the first 5 rows of the data
gamingData.head()

   Steps  Points
0      1   45000
1      2   50000
2      3   60000
3      4   80000
4      5  110000